body {
	width: 100%;
	height: 100%;
	margin: 0px;
	text-align: center;

	background: #2f3762;
	color: white;
	font-family: sans-serif;
}

h1 {
	font-weight: normal;
	font-size: xx-large;
	margin-bottom: 0px;
}

p {
	font-size: large;
	margin-top: 5px;
}

a {
	color: white;
}

#index {
	color: white;
}

#index a {
	padding: 10px;
	margin: 10px;
	display: block;
	background: #272c46;
	text-decoration: none;
}

#index, .view {
	width: 500px;
}

.view {
	text-align: center;
	margin: auto;
	height: 600px;
	border-top: 1px solid white;

	font-size: large;
}

.view .output, .view input {
	font-size: 20px;
	border: 2px solid #959595;
	width: 100%;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #ece8e8;
	color: #373737;

	padding: 10px;
	box-sizing: border-box;
}

body * {
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 600px) {
	#index, .view {
		width: 90%;
	}
}
